* {

}



.pinkbox{
    background-color: pink;
    width: 98%;
    height: 100px;
    border: 15px white;
    display: inline-block;
}

.redbox{
    background-color: tomato;
    width: 23.75%;
    height: 100px;
    border: 15px white;
    margin: 5px;
    display: inline-block;
}

.lightblue{
    background-color: turquoise;
    width: 48.5%;
    height: 100px;
    border: 15px white;
    margin: 5px;
    display: inline-block;
}



.greenbox{
    display: inline-block;
    background-color: seagreen;
    width: 71%;
    height: 100px;
    margin: 5px;
}

.orangebox{
    display: inline-block;
    background-color: orange;
    width: 26%;
    height: 100px;
    margin: 5px

}

@media (max-width: 700px){
    .pinkbox{
        width: 50%;
        height: 50px;
        align-self: center;
    }
    .redbox{
        width: 50%;
        height: 50px;
        align-self: center;
        display: inline;
    }
}