#box1{
    height: 60px;
    width: 60px;
    background-color: brown;
}

#box2{
    height: 80px;
    width: 80px;
    background-color: yellow
}

#box3{
    height: 80px;
    width: 80px;
    background-color: violet
}

#box4{
    height: 100px;
    width: 100px;
    background-color: slategray
}

#box5{
    height: 120px;
    width: 120px;
    background-color: palevioletred
}