@font-face {
    font-family: 'myFf';
    src: url(julius-sans-one-v6-latin-regular.woff);
}

@font-face {
    font-family: 'lib';
    src: url(libre-baskerville-v5-latin-regular.woff);
}

@font-face{
    font-family: 'verd';
    src: url(verdemoderna.woff)
}

p { 
    margin-top: 10;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-family: 'lib';
    font-size: .85em;
    line-height: 2;
    color: rgb(50, 80, 80)
    
}

 h3{
    position: relative;
    margin-left: 10%;
    font-family: 'myFf';
    color: rgb(50, 80, 80)
}

body{
    background-color: white;
    margin: 0
}

.wrapper{
    background: url(contours-opaque.png);
  
}

.tophead element{
    content: url(enso.svg);
    height: 75px;
    width: 75px;
    position: relative;
    right: 230px;
    bottom: -60px;
}

.tophead{
    height: 250px;
    text-align: center;
    padding: 0;
    background: url(huntington.jpg);
    background-size: cover;
}    

.header1{
    background-image: url(contours-opaque.png);
    background-repeat: repeat;
    height: 100%;
    background-attachment: fixed;

}

.header2{
    background-image: url(gridlines.png);
    background-repeat: repeat;
    background-attachment: fixed;
}

.tophead h1{
    padding-top: 0;
    padding-bottom: 5px;
    border-bottom: none;
    font-family: 'myFf';
    font-size: 36px;
    color: white;
    text-transform: uppercase;
    margin: 0
}

.tophead h2{
    color: white;
    font-family: 'myFf';
    font-size: 16px
}

.participation{
    background: rgba(138,188,159,0.5);
    background-image: url(bamboo.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto, auto, cover;
}

.part1{
    background-image: url(contours-opaque.png);
    background-repeat: repeat;
}

.part2{
    background-image: url(gridlines.png);
    background-repeat: repeat;
    background-position: 100% 100%;
}


.amazon{
    background-image: url(koi.jpg);
    background-size: 100% 100%;
    font-family: 'lib';
    background-position: relative;
    font-size: 2.5em;
    
}
.amazon1{
    background-image: url(contours-opaque.png);
    background-repeat: repeat;
    background-position: 2000px 2000px;
    background-attachment: fixed;
}

.amazon2{
    background-image: url(gridlines.png);
    background-repeat: repeat;
    background-position: 100% 100%;
    background-attachment: fixed;
}

.amazon p{
    font-family: 'lib';
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 22px;
}

.footer{
   background-color: #1a5952;
   width: 100%;
   height: 100px;
   font-family: 'verd';
   position: relative;

}

.footer p{
    font-family: 'verd';
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.3)
}

.sidebar{
    background: #edf4f0;
    display: block;
    box-sizing: border-box
}

.sidebar ul{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.julia{
    font-family: 'myFf';
    margin-top: 10;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    text-align: inherit;
    font-size: 16px;
    font-weight: 400;
    color: #49968e;

    
}

.luke{
    font-family: 'lib';
    text-align: left;
    font-size: 13px;
    margin-bottom: 10;
    
}

.by{
    font-family: 'lib';
    margin: 0;
    text-align: left;
    font-size: 13px;
    color: #c0cac3;
    font-weight: 400;
    margin-bottom: 10;
}

.res{
    box-sizing: border-box;
    display: grid;

}

.resources{
    text-align: left;

    margin: 10;
    grid-template-columns: 1fr 1fr;
    background: rgba(138,188,159,0.5);
    background-image: url(bamboo.png);
    font-family: 'myFf';
    font-size: 16px;
    color: #49968e;
    border-bottom: solid 1px #a0b9ad;
}

.resources li{
    text-align: left;
    width: 50%;
    padding: 1.0em 10%;
    border-top: solid 1px #d9e3dc;
}

.nap{
    text-align: left;
    border-top: solid 1px #d9e3dc;
    margin-left: 0;
    box-sizing: border-box;
    margin: 0;
}

.nap li{
    position: relative;
    left: 20px;
    bottom: 17px;
    margin-bottom: 14px;
    border-bottom: solid 1px #a0b9ad;
    border-bottom-width: 100%
}

@media (max-width: 480px){
    body{
        background-color: white;
        line-height: 0.88889;
    }
    
    .wrapper{
        background: white no-repeat top left;
        padding: 0%
    }

    .tophead{
        height: 130px;
        width: 100vw;
        text-align: center;
        padding: 20px 0 70px 0;
        background: url(contours-opaque.png), url(gridlines.png), url(huntington.jpg);
        background-size: 100% 100%
    }
    
    
    .tophead h1{
        padding-top: 0;
        padding-bottom: 5px;
        border-bottom: none;
        font-family: 'myFf';
        font-size: 1.5em;
        color: white;
        text-transform: uppercase;
        position: relative;
        top: 0%
        
    }
    
    .top{
        display: block;
    }
    
    h3{
        margin-left: 5%;
        font-family: 'myFf';
        color: black
    }

    p { 
        margin-top: 10;
        margin-left: 10%;
        margin-right: 10%;
        text-align: justify;
        font-family: 'lib';
        font-size: .85em;
        line-height: 2;
        color: black
        
    }

    .amazon p{
        font-family: 'lib';
        font-style: italic;
        color: rgba(255, 255, 255, 0.3);
        font-size: 20px;
        
    }

    .footer span{
        font-family: 'verd';
        display: flex;
        text-align: inherit;
        align-items: inherit;
        justify-content: space-around;
        font-size: 40px;
        position: relative;
        top: -20%;
        padding: 10;
        margin-left: 10;
        margin-right: 10;
        color: rgba(255, 255, 255, 0.3)
    }
    .amazon1{
        background-image: url(contours-opaque.png);
        background-repeat: repeat;
        background-attachment: fixed;
        background-position: 100% 100%;
        height: 250px;
    }
    
    .amazon2{
        background-image: url(gridlines.png);
        background-repeat: repeat;
        background-attachment: fixed;
        height: 250px;
    }

    .part1{
        background-image: url(contours-opaque.png);
        background-repeat: repeat;
        background-position: 100%
    
    }
    
    .part2{
        background-image: url(gridlines.png);
        background-repeat: repeat;
        background-position: 100%;
        
    }
    
    .participation{
        background: rgba(138,188,159,0.5);
        background-image: url(bamboo.png);
        background-repeat: repeat;
        background-attachment: fixed;
        background-size: auto, auto, cover;
    }

    .tophead element{
        content: url(enso.svg);
        height: 55px;
        width: 55px;
        position: relative;
        bottom: 0%;
        left: 0%
    }
    
    .tophead h2{
        color: white;
        font-family: 'myFf';
        font-size: 1em
    }
    .amazon{
        background-image: url(koi.jpg);
        background-size: 100% 100%;
        font-family: 'lib';
        background-position: relative;
        font-size: 2.5em;
        height: 250px;
        
    }

    .julia{
        font-family: 'myFf';
        margin-top: 10;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        color: #49968e
    }

    .sidebar ul{
        box-sizing: border-box;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        list-style-type: none;
    }




}



@media (min-width: 1130px){
 .wrapper{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-auto-rows: 15%;

 }
 .tophead element{
    content: url(enso.svg);
    height: 75px;
    width: 75px;
    position: relative;
    right: 230px;
    bottom: -60px;
}

.tophead{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-area: 't';
    height: 250px;
    text-align: center;
    padding: 0;
    background: url(huntington.jpg);
    background-size: cover;
}    

.header1{
    background-image: url(contours-opaque.png);
    background-repeat: repeat;
    height: 100%;
    background-attachment: fixed;

}

.summary{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-area: 's';
}

.preamble{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-area: 'p';
}

.m{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-area: 'm';
}

.header2{
    background-image: url(gridlines.png);
    background-repeat: repeat;
    background-attachment: fixed;
}

.tophead h1{
    padding-top: 0;
    padding-bottom: 5px;
    border-bottom: none;
    font-family: 'myFf';
    font-size: 36px;
    color: white;
    text-transform: uppercase;
    margin: 0
}

.tophead h2{
    color: white;
    font-family: 'myFf';
    font-size: 16px
}

.participation{
    grid-area: 'pa';
    background: rgba(138,188,159,0.5);
    background-image: url(bamboo.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto, auto, cover;
}

.part1{
    background-image: url(contours-opaque.png);
    background-repeat: repeat;
}

.part2{
    background-image: url(gridlines.png);
    background-repeat: repeat;
    background-position: 100% 100%;
}

.requirements{
    grid-area: 'r'
}

.amazon{
    grid-area: 'a';
    background-image: url(koi.jpg);
    background-size: 100% 100%;
    font-family: 'lib';
    background-position: relative;
    font-size: 2.5em;
    
}
.amazon1{
    background-image: url(contours-opaque.png);
    background-repeat: repeat;
    background-position: 2000px 2000px;
    background-attachment: fixed;
}

.amazon2{
    background-image: url(gridlines.png);
    background-repeat: repeat;
    background-position: 100% 100%;
    background-attachment: fixed;
}

.amazon p{
    font-family: 'lib';
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 22px;
}

.footer{
    grid-area: 'f';
   background-color: #1a5952;
   width: 100%;
   height: 100px;
   font-family: 'verd';
   position: relative;

}
.nap{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    text-align: left;
    border-top: solid 1px #d9e3dc;
    margin-left: 0;
    box-sizing: border-box;
    margin: 0;
}



}