header{
    background-color: lawngreen;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    border-color: black;
    text-align: center;
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    border-style: solid;
    top: 0%;
}

header a{
    text-decoration: none;
    text-decoration: none;
}


#contactdiv{
    background-color: green;
    height: 648px;
    width: 800px;
    display: inline-block;
    left: 23%;
    top: 112px;
    position: relative;
    border-style: solid;
    border-style: solid;
}

#aboutdiv{
    background-color: green;
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 3;
    width: 500px;
    height: 1000px;
    grid-row-start: 4;
    grid-row-end: 5;
    position: relative;
    top: -284px;
    border-style: solid;
}



body{
    background-image: url(https://www.iasoybeans.com/upl/images/articles/images/california-prop-65-glyphosate-and-soybeans-what-farmers-need-to-know-54d8798f.jpg);
    background-size: 2296px;
    background-repeat: no-repeat;
}


#farmerpic{
    position: relative;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    display: inline-flex;
    height: 400px;
    width: 600px;
    top: 124px;
    border-style: solid;
}

#diagram{
    position: relative;
    display: inline-block;
    height: 400px;
    width: 600px;
    bottom: 723px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
    border-style: solid;
}

#gridtest{
    display: grid;
    grid-row-gap: 10px;
    height: 100vh;
}

#abouth1{
    font-size: 50px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: green;
    position: relative;
    top: 10%;
    right: 23%;
    text-align: center;
    font-family: sans-serif;
    border-style: solid;
}

#homeh{
    font-size: 60px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    position: relative;
    top: 208px;
    right: -2px;
    text-align: center;
    font-family: sans-serif;
    color: saddlebrown;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

#hometitle{
    font-size: 50px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    position: relative;
    top: 100px;
    right: -40px;
    text-align: center;
    font-family: sans-serif;
    color: darkgreen;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}


#orderh1{
    font-size: 50px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: green;
    position: relative;
    top: 100px;
    width: 50%;
    right: -370px;
    text-align: center;
    font-family: sans-serif;
    border-style: solid;
}

#aboutdiv p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#contactdiv1{
    background-color: green;
    height: 348px;
    width: 800px;
    display: inline-block;
    left: 25%;
    top: 34%;
    position: relative;
    border-style: solid;
    font-size: 35px;
}

@media (max-width: 1120px){
    #abouth1{
        font-size: 30px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: green;
        position: relative;
        top: 10%;
        right: 23%;
        text-align: center;
        font-family: sans-serif;
        border-style: solid;
    }
    #diagram{
        position: relative;
        display: inline-block;
        height: 200px;
        width: 300px;
        bottom: -300px;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 5;
        border-style: solid;
    }
    #aboutdiv{
        background-color: green;
        display: inline-block;
        grid-column-start: 3;
        grid-column-end: 3;
        width: 500px;
        height: 1000px;
        grid-row-start: 5;
        grid-row-end: 5;
        position: relative;
        top: -100px;
        border-style: solid;
    }
    #farmerpic{
        position: relative;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
        display: inline-flex;
        height: 200px;
        width: 300px;
        top: 124px;
        border-style: solid;
    }
    #contactdiv{
        background-color: green;
        height: 648px;
        width: 400px;
        display: inline-block;
        left: 25%;
        top: 112px;
        position: relative;
        border-style: solid;
        border-style: solid;
    }
    #orderh1{
        font-size: 30px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
        background-color: green;
        position: relative;
        top: 100px;
        right: -200px;
        text-align: center;
        font-family: sans-serif;
        border-style: solid;
    }
    #contactdiv1{
        background-color: green;
        height: 348px;
        width: 400px;
        display: inline-block;
        left: 30%;
        top: 34%;
        position: relative;
        border-style: solid;
        font-size: 20px;
    }
}

@media (max-width: 830px){
    #abouth1{
        font-size: 20px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: green;
        position: relative;
        top: 10%;
        right: 3%;
        width: 100%;
        text-align: center;
        font-family: sans-serif;
        border-style: solid;
    }
    #diagram{
        position: relative;
        display: inline-block;
        height: 00px;
        width: 00px;
        bottom: -300px;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 5;
    
    }
    #aboutdiv{
        background-color: green;
        display: inline-block;
        grid-column-start: 3;
        grid-column-end: 3;
        width: 500px;
        height: 1000px;
        grid-row-start: 5;
        grid-row-end: 5;
        position: relative;
        top: 100px;
        border-style: solid;
    }
    #farmerpic{
        position: relative;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
        display: inline-flex;
        height: 0px;
        width: 0px;
        top: 124px;
        
    } header{
        background-color: lawngreen;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
        border-color: black;
        text-align: center;
        z-index: 1;
        position: fixed;
        width: 100%;
        padding: 20px;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        border-style: solid;
        top: 0%;
    }
    #contactdiv{
        background-color: green;
        height: 648px;
        width: 400px;
        display: inline-block;
        left: 0%;
        top: 112px;
        position: relative;
        border-style: solid;
        border-style: solid;
    }
    #orderh1{
        font-size: 20px;
        display: block;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        background-color: green;
        position: relative;
        top: 100px;
        right: -3px;
        width: 395px;
        text-align: left;
        font-family: sans-serif;
        border-style: solid;
    }
    #homeh{
    font-size: 30px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    position: relative;
    top: 208px;
    right: -2px;
    text-align: center;
    font-family: sans-serif;
    color: saddlebrown;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
   }
    #hometitle{
    font-size: 30px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    position: relative;
    top: 100px;
    right: -10px;
    text-align: center;
    font-family: sans-serif;
    color: darkgreen;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}
    
    #contactdiv1{
        background-color: green;
        height: 348px;
        width: 400px;
        display: inline-block;
        left: 0%;
        top: 34%;
        position: relative;
        border-style: solid;
        font-size: 25px;
    }
}
 