body{
    background-color: beige;
}

h1{
    text-align: center;
    color: crimson;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#ad{
    background-color: chocolate;
    position: relative;
    right:-500px;
    width: 30%;
    height: 20%;
}

#sub{
    background-color: green;
    position: relative;
    right:-500px;
    width: 30%;
    height: 20%;
}

#Mult{
    background-color: yellow;
    position: relative;
    right:-500px;
    width: 30%;
    height: 20%;
    
}

div p{
    font-family: sans-serif
}
